.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

/* fonts */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

.fraunces {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
}

/* font-size */
.small-text {
  font-size: 0.9em
}

.medium-text {
  font-size: 1em;
}

/* font-colors */
.dark-blue {
  color: hsl(212, 21%, 14%);
}

.grayish-blue {
  color: hsl(228, 12%, 48%);
}

.dark-cyan {
  color: hsl(158, 36%, 37%);
}


body {
  margin: 0;
  background-color: hsl(30, 38%, 92%);
}

.main-img {
  max-width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.icon {
  width: 1.1rem;
  position: absolute;
  left: 30%;
}

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; 
  color: white;
  position: relative;
  left: 15%;
}

button {
  background-color: hsl(158, 36%, 37%);
  border: 0;
  min-width: 100%;
  padding: 1rem 5rem;
  border-radius: 10px;
  position: relative;
}

/* active states of button */
button:hover, button:focus {
  background-color: hsl(156, 42%, 18%);
}

.text-content {
  padding: 1.3rem;
}

h1 {
  font-size: 2em;
  line-height: 2.2rem;
  margin: 0.9rem 0;
}

.description {
  line-height: 1.7rem;
  margin: 1rem 0;
}

.sub-heading {
  letter-spacing: 0.35rem;
}

.prices {
  margin: 1.2rem 0;
}

.final-price {
  font-size: 2.1em;
}

.mkdown-price {
  vertical-align: 40%;
  margin: 0 1.5rem;
  text-decoration: line-through;
}

.container {
  max-width: 93%;
  margin: 7% auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.attribution {
  padding-bottom: 2rem;
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    object-fit: cover;
    max-width: 45%;
    margin: 10rem auto;
  }

  .main-img {
    border-radius: 10px 0 0 10px;
    max-width: 50%;
  }

  .text-content {
    max-width: 50%;
    padding: 2rem;
    font-size: 1em;
  }

  .prices {
    margin: 1.75rem 0;
  }


  
}